@model Product
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

Id: @Model.Id<br />
Name: @Model.Name<br />
Description: @Model.Description<br />
Price: @Model.Price<br />
Inventory: @Model.Inventory<br />
Category: @Model.Category<br />