@model Product
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edit Product</h1>

<form method="post" action="/product/savechanges">
    <input type="hidden" name="id" value="@Model.Id" />
    ID: @Model.Id<br />
    Name: <input type="text" name="name" value="@Model.Name" /><br />
    Description: <input type="text" name="description" value="@Model.Description" /><br />
    Price: <input type="text" name="price" value="@Model.Price" /><br />
    Inventory: <input type="number" name="inventory" value="@Model.Inventory" /><br />
    Category: 
    
    <select  name="category">
        @foreach(Category cat in (List<Category>)ViewData["categories"])
        {
            <option selected="@cat.id == Model.category ? "selected" : null)" value="@cat.id">@cat.name</option>

             @*if(cat.id == Model.Category)
            {
                <option selected="selected" value="@cat.id">@cat.name</option>
            }
            else
            {
                <option value="@cat.id">@cat.name</option>
            }*@
        }
    </select>
    
    
    <input type="submit" value="Save" />
</form>