@model Animal
@{
    ViewData["Title"] = "PetAdded";
}

<h1>PetAdded</h1>

<p>We added a @Model.Species to our list</p>
<p>Your pets name is @Model.Name</p>
<p>@Model.Name weights @Model.Weight</p>
<p>@Model.Name was born in @Model.Born</p>
<p>Your pet is a @Model.Gender and is @Model.Color</p>
