@model Department
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

Department Code: @Model.id<br />
Full Name: @Model.name<br />
Location: @Model.location<br />

<h2>Employees in @Model.name</h2>
<!--Casting was used to bring in view data List<Employee> is what we're casting-->
@foreach(Employee emp in (List<Employee>)ViewData["employees"]){
    <div>
          @emp.firstname
          @emp.lastname
    </div>
  
}