@model Employee; 
@{
    ViewData["Title"] = "Detail";
}

<h1>Employee Details</h1>

ID: @Model.id<br />
First Name: @Model.firstName<br />
Last Name: @Model.lastName<br />
Phone: @Model.phone<br />
Email: @Model.email<br />
Department: @Model.department<br />
