@model Employee
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edit Employee</h1>

<form method="post" action="/employee/savechanges">

    <input type="hidden" name="id" value="@Model.id" />
    ID: @Model.id<br />
    First Name: <input type="text" name="lastname" value="@Model.firstName"/><br />
    Last Name: <input type="text" name="firstname" value="@Model.lastName"/><br />
    Phone: <input type="text" name="phone" value="@Model.phone" /><br />
    Email: <input type="email" name="email"  value="@Model.email" /><br />
    <input type="submit" value="Save" />
</form>