
@{
    ViewData["Title"] = "RegistrationComplete";
}

<h1>RegistrationComplete for @ViewBag.FirstName @ViewBag.LastName</h1>

Email: @ViewBag.Email<br />

PhoneNumber: @ViewBag.PhoneNumber<br />

Password: @ViewBag.Password<br />

Gender: @ViewBag.Gender<br />

State: @ViewBag.State<br />

