@model Practice1.Models.Animal
@{
    ViewData["Title"] = "PetAdded";
}

<h1>PetAdded</h1>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <p>@Model.Species</p>
        <p>@Model.Born</p>
        <p>@Model.Color</p>
        <p>@Model.Gender</p>
        <p>@Model.Name</p>
        <p>@Model.Weight</p>
    </div>
</div>